/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";

@theme {
  --color-winter-green: oklch(0.439 0.0392 204.73);
  --color-winter-light: #49756f;
  --color-winter-lighter: #56AFBD;
  --color-autumn-pink: #CF6463;
  --color-ivory: #F5EEE3;
  --color-winter-pink: #E0B4AC;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--color-ivory);
  
  /* linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}

html {
  .dancing {
    font-family: var(--font-dancing);
  }

  .allison {
    font-family: var(--font-allison);
  }
}

main {
  scroll-timeline: --main-timeline;

  animation-timeline: scroll(nearest inline);
}

.idk {
  /* backdrop-filter: blur(3px); */
  background: #ffffff85;
}

.test {

  animation: background-animation linear;
  animation-timeline: view(y);

/* animation: background-animation 5s infinite; */
}

@layer animations {
  @keyframes background-animation {
    0% {
      /* background: red; */
      filter: hue-rotate(0deg);
      /* filter: opacity(1); */

    }
    50% {
      /* filter: opacity(0.5); */
    }
    100% {
      /* background: magenta; */
      filter: hue-rotate(720deg);
      /* filter: opacity(0.4); */
    }
  }
}


@layer no-support {
  @supports not (scroll-timeline: --main-timeline) {
    body::before {
      content: "Your browser doesn't support scroll-driven animations.";
      background-color: wheat;
      display: block;
      text-align: center;
    }
  }
}



